@mixin text-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin shadow{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.421);
}

@mixin shadow-hover{
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.8);

}

@mixin crop{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin cta{
    display: inline-block;
    background: $background-cta;
    color: white;
    font-weight: 500;
    border-radius: 50px;
    transition: opacity 0.3s;
}

@mixin heart{
    font-size: $font-size-title;
    margin-right: 10px;
    color: black;
    position: absolute;
    top: 10px;
}

@mixin heart-solid{
    clip-path: inset(100% 0 0 0); 
    background: $background-cta;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}