@mixin text-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin cta{
    display: inline-block;
    background: $background-cta;
    color: white;
    font-weight: 500;
    border-radius: 50px;
}