// Main color
$primary-color : #9356DC;
$secondary-color : #FF79DA;
$tertiary-color : #99E2D0;

$background-color : #EAEAEA;
$background-color-second :#353535;

$background-cta : linear-gradient($secondary-color, $primary-color);


// Font-family
$title-font : 'Shrikhand', sans-serif;
$text-font : 'Roboto', sans-serif;

// Font-size
$font-size-text : 17px;
$font-size-title : 30px;