.header{
    display: flex;
    justify-content: center;
    padding: 30px 0 20px 0; // J'ai baissé le padding en bas, ajuster après l'ajout du form en fonction du résultat
    img{
        width: 200px;
    }
}