.header, .header-loader{
    @include text-center;
    padding-top: 30px;
    padding-bottom: 10px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    position: relative;
    @media (min-width: 1024px){
        padding-bottom: 30px;
    }
    &__return{
        position: absolute;
        top: 35px;
        left: 30px;
        i{
            font-size: 22px;
        }
    }
    &__img{
        width: 200px;
    }
}