.loader{
    position: fixed;
    top: 50%;
    left: 45%;
    transform: translate(-45%, -50%);
    border: 8px solid $background-color; 
    border-top: 8px solid $primary-color; 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite, hideLoader 3s forwards;
  }
  
.main-container, .header-loader, .footer-loader{
    visibility: hidden;
    opacity: 0;
    animation: showContent 0s forwards 3s; /* Start after 3 seconds */
}
  