body{
    font-family: $text-font;
    font-size: $font-size-text;
}

h1{
    font-size: $font-size-title;
    font-weight: 700;
}

h2{
    font-size: $font-size-title;
    font-weight: 700;
}

h3{
    font-weight: 500;
    font-size: $font-size-text;
}

a{
    text-decoration: none;
    color: white;
}

ul{
    list-style-type: none;
    padding-left: 0;
}