* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
}

h1 {
  font-size: 30px;
  font-weight: 700;
}

h2 {
  font-size: 30px;
  font-weight: 700;
}

h3 {
  font-weight: 500;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

span {
  color: white;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 10px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  position: relative;
}
.header__return {
  position: absolute;
  top: 35px;
  left: 30px;
}
.header__return i {
  font-size: 22px;
}
.header__img {
  width: 200px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  padding: 15px;
  margin-bottom: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.form__search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
}
.form__search--input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  border: none;
  background-color: #EAEAEA;
  font-size: 17px;
}
.form__search--input::-webkit-search-cancel-button {
  display: none;
}
.form__search--input:focus {
  outline: none;
}

.presentation {
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  text-align: center;
  padding: 40px 30px 50px 30px;
}
.presentation__texte {
  font-size: 18px;
  font-weight: 300;
}
.presentation__cta {
  display: inline-block;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-weight: 500;
  border-radius: 50px;
  padding: 15px 20px;
}

.function {
  padding: 40px 30px;
}
.function__title {
  margin-bottom: 25px;
}
.function__container {
  position: relative;
  padding: 30px;
  border-radius: 20px;
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.function__container--box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -10px;
  background-color: #9356DC;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
.function__container--info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.function__container--info .fa-solid {
  font-size: 20px;
  color: #353535;
}

.restaurant {
  padding: 40px 30px;
  background-color: #EAEAEA;
}
.restaurant--title {
  margin-bottom: 25px;
}
.restaurant__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
}
.restaurant__container a {
  width: 100%;
}
.restaurant__container .card {
  background-color: white;
  border-radius: 20px;
  position: relative;
}
.restaurant__container .card img {
  width: 100%;
  height: 180px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.restaurant__container .card--new {
  color: #008766;
  background-color: #99E2D0;
  padding: 5px 10px;
  border-radius: 2px;
  position: absolute;
  right: 13px;
  top: 13px;
}
.restaurant__container .card__content {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  padding-right: 30px;
}
.restaurant__container .card__content--txt {
  color: black;
}
.restaurant__container .card__content--txt--title {
  font-weight: 700;
  margin-bottom: 5px;
}
.restaurant__container .card__content--txt--place {
  font-weight: 300;
}
.restaurant__container .card__content--heart {
  display: flex;
  align-items: center;
}
.restaurant__container .card__content--heart .fa-heart {
  color: black;
  font-weight: 300;
  font-size: 30px;
}

.footer {
  background-color: #353535;
  color: white;
  padding: 30px;
}
.footer__title {
  margin-bottom: 15px;
  font-family: "Shrikhand", sans-serif;
  font-size: 20px;
}
.footer__list__item {
  margin-bottom: 10px;
}
.footer__list__item--white {
  color: white;
}
.footer .fa-utensils {
  margin-right: 7px;
}
.footer .fa-handshake-angle {
  margin-right: 2px;
}

.main__img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.menu {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  background-color: #EAEAEA;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: relative;
  top: -50px;
  margin-bottom: -50px;
}
.menu__restaurant {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.menu__restaurant__title {
  font-family: "Shrikhand", sans-serif;
  font-size: 28px;
}
.menu__restaurant .fa-heart {
  font-size: 30px;
  margin-right: 10px;
}
.menu__starter {
  margin-bottom: 40px;
  width: 100%;
}
.menu__starter__title {
  font-size: 17px;
  font-weight: 300;
  position: relative;
  margin-bottom: 20px;
}
.menu__starter__title::before {
  content: "";
  position: absolute;
  background-color: #99E2D0;
  width: 45px;
  height: 2px;
  bottom: -5px;
}
.menu__starter__name {
  background-color: white;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 10px;
}
.menu__starter__name--margin {
  margin-bottom: 5px;
}
.menu__starter__name__description {
  display: flex;
  justify-content: space-between;
}
.menu__starter__name__description--weight {
  font-weight: 300;
  font-size: 15px;
}
.menu__cta {
  display: inline-block;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-weight: 500;
  border-radius: 50px;
  padding: 15px 35px;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
