* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  display: flex;
  justify-content: center;
  margin: 0;
}

.body-container {
  width: 100%;
  max-width: 1480px;
  box-sizing: border-box;
}

h1 {
  font-size: 30px;
  font-weight: 700;
}

h2 {
  font-size: 30px;
  font-weight: 700;
}

h3 {
  font-weight: 500;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

span {
  color: white;
}

.header, .header-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 10px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  position: relative;
}
@media (min-width: 1024px) {
  .header, .header-loader {
    padding-bottom: 30px;
  }
}
.header__return, .header-loader__return {
  position: absolute;
  top: 35px;
  left: 30px;
}
.header__return i, .header-loader__return i {
  font-size: 22px;
}
.header__img, .header-loader__img {
  width: 200px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  padding: 15px;
  margin-bottom: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.form__search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
}
.form__search--input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  border: none;
  background-color: #EAEAEA;
  font-size: 17px;
}
.form__search--input::-webkit-search-cancel-button {
  display: none;
}
.form__search--input:focus {
  outline: none;
}

.presentation {
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  text-align: center;
  padding: 40px 30px 50px 30px;
}
.presentation__texte {
  font-size: 18px;
  font-weight: 300;
}
.presentation__cta {
  display: inline-block;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-weight: 500;
  border-radius: 50px;
  transition: opacity 0.3s;
  padding: 15px 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.421);
}
.presentation__cta:hover {
  opacity: 0.8;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.8);
}

.function {
  padding: 40px 30px;
}
@media (min-width: 1024px) {
  .function {
    padding: 50px 180px;
  }
}
.function__title {
  margin-bottom: 25px;
}
.function__container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .function__container {
    flex-direction: row;
    justify-content: space-between;
  }
}
.function__container__box {
  position: relative;
  padding: 30px;
  border-radius: 20px;
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
@media (min-width: 1024px) {
  .function__container__box {
    padding: 30px 60px;
  }
}
.function__container__box--num {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -10px;
  background-color: #9356DC;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
.function__container__box--info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.function__container__box--info .fa-solid {
  font-size: 20px;
  color: #353535;
}

.restaurant {
  padding: 40px 30px;
  background-color: #EAEAEA;
}
@media (min-width: 1024px) {
  .restaurant {
    padding: 50px 180px;
  }
}
.restaurant--title {
  margin-bottom: 25px;
}
.restaurant__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
}
@media (min-width: 1024px) {
  .restaurant__container {
    align-items: flex-start;
    justify-content: space-between;
    gap: 50px;
  }
}
.restaurant__container .card {
  background-color: white;
  border-radius: 20px;
  position: relative;
  width: 100%;
}
@media (min-width: 1024px) {
  .restaurant__container .card {
    width: 45%;
  }
}
.restaurant__container .card img {
  width: 100%;
  height: 180px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.restaurant__container .card--new {
  color: #008766;
  background-color: #99E2D0;
  padding: 5px 10px;
  border-radius: 2px;
  position: absolute;
  right: 13px;
  top: 13px;
}
.restaurant__container .card__content {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  padding-right: 30px;
}
.restaurant__container .card__content--txt {
  color: black;
}
.restaurant__container .card__content--txt--title {
  font-weight: 700;
  margin-bottom: 5px;
}
.restaurant__container .card__content--txt--place {
  font-weight: 300;
}
.restaurant__container .card__content__heart {
  display: flex;
  align-items: center;
}
.restaurant__container .card__content__heart--icone {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.restaurant__container .card__content__heart--icone:hover .fa-solid {
  animation: heart 0.8s ease-in forwards;
}
.restaurant__container .card__content__heart .fa-heart {
  font-size: 30px;
  margin-right: 10px;
  color: black;
  position: absolute;
  top: 10px;
  transition: opacity 1s ease, transform 1s ease 1s;
}
.restaurant__container .card__content__heart .fa-solid {
  clip-path: inset(100% 0 0 0);
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer, .footer-loader {
  background-color: #353535;
  color: white;
  padding: 30px;
}
@media (min-width: 1024px) {
  .footer, .footer-loader {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
}
.footer__title, .footer-loader__title {
  margin-bottom: 15px;
  font-family: "Shrikhand", sans-serif;
  font-size: 20px;
}
@media (min-width: 1024px) {
  .footer__title, .footer-loader__title {
    margin-left: 80px;
  }
}
@media (min-width: 1024px) {
  .footer__list, .footer-loader__list {
    display: flex;
    gap: 20px;
  }
}
.footer__list__item, .footer-loader__list__item {
  margin-bottom: 10px;
}
.footer__list__item__lien, .footer-loader__list__item__lien {
  display: flex;
  gap: 5px;
  color: white;
}
.footer__list .fa-utensils, .footer-loader__list .fa-utensils {
  margin-right: 7px;
}
.footer__list .fa-handshake-angle, .footer-loader__list .fa-handshake-angle {
  margin-right: 2px;
}

.main__img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.menu {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  background-color: #EAEAEA;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: relative;
  top: -50px;
  margin-bottom: -50px;
}
@media (min-width: 1024px) {
  .menu {
    margin: 0 180px;
    margin-bottom: -50px;
  }
}
.menu__restaurant {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
@media (min-width: 1024px) {
  .menu__restaurant {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }
}
.menu__restaurant__title {
  font-family: "Shrikhand", sans-serif;
  font-size: 28px;
}
.menu__restaurant__heart {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.menu__restaurant__heart:hover .fa-solid {
  animation: heart 0.8s ease-in forwards;
}
.menu__restaurant .fa-heart {
  font-size: 30px;
  margin-right: 10px;
  color: black;
  position: absolute;
  top: 10px;
  transition: opacity 1s ease, transform 1s ease 1s;
}
.menu__restaurant .fa-solid {
  clip-path: inset(100% 0 0 0);
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu__starter {
  margin-bottom: 40px;
  width: 100%;
  animation: apparition 1s backwards;
}
@media (min-width: 1024px) {
  .menu__starter {
    padding: 0 200px;
  }
}
.menu__starter:nth-child(2) {
  animation-delay: 600ms;
}
.menu__starter:nth-child(3) {
  animation-delay: 900ms;
}
.menu__starter:nth-child(4) {
  animation-delay: 1200ms;
}
.menu__starter__title {
  font-size: 17px;
  font-weight: 300;
  position: relative;
  margin-bottom: 20px;
}
.menu__starter__title::before {
  content: "";
  position: absolute;
  background-color: #99E2D0;
  width: 45px;
  height: 2px;
  bottom: -5px;
}
.menu__starter__name {
  background-color: white;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}
.menu__starter__name--margin {
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__starter__name__description {
  display: flex;
  justify-content: space-between;
  transition: margin-right 0.3s;
}
.menu__starter__name__description--weight {
  font-weight: 300;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 20px;
}
.menu__starter__name:hover .menu__starter__check {
  right: 0;
}
.menu__starter__name:hover .menu__starter__name__description {
  margin-right: 80px;
}
.menu__starter__name:hover .menu__starter__name--margin {
  margin-right: 120px;
}
.menu__starter__check {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 80px;
  height: 100%;
  position: absolute;
  top: 0;
  right: -80px;
  transition: right 0.3s;
}
.menu__starter__check .fa-circle-check {
  font-size: 25px;
  color: white;
}
.menu__cta {
  display: inline-block;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-weight: 500;
  border-radius: 50px;
  transition: opacity 0.3s;
  padding: 15px 35px;
  margin: 0 auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.421);
}
.menu__cta:hover {
  opacity: 0.8;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.8);
}

.loader {
  position: fixed;
  top: 50%;
  left: 45%;
  transform: translate(-45%, -50%);
  border: 8px solid #EAEAEA;
  border-top: 8px solid #9356DC;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite, hideLoader 3s forwards;
}

.main-container, .header-loader, .footer-loader {
  visibility: hidden;
  opacity: 0;
  animation: showContent 0s forwards 3s; /* Start after 3 seconds */
}

@keyframes heart {
  to {
    clip-path: inset(0 0 0 0);
  }
  from {
    clip-path: inset(100% 0 0 0);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes hideLoader {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes showContent {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes apparition {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
