.main__img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.menu{
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    background-color: $background-color-tertiary;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    position: relative;
    top: -50px;
    margin-bottom: -50px; 
    @media (min-width: 1024px){
        width: 80%;
        margin: 0 auto -50px;
        max-width: 1200px;
    }
    &__restaurant{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
        @media (min-width: 1024px){
            @include text-center;
            gap: 25px;
        }
        &__title{
            font-family: $title-font;
            font-size: 28px;
        }
        &__heart{
            display: inline-block;
            position: relative;
            width: 50px;
            height: 50px;
            cursor: pointer;
            &:hover .fa-solid{
                clip-path: inset(0 0 0 0);
            }
        }     
        .fa-heart{
            @include heart;
        }
        .fa-solid{
            @include heart-solid;
            transition: clip-path 0.8s ease-in;
        }
    }
    &__starter{
        margin-bottom: 40px;
        width: 100%;
        animation: apparition 1s backwards;
        @media (min-width: 1024px){
            padding: 0 200px;
            width: 100%;
        }
        @for $i from 2 through 4{
            &:nth-child(#{$i}){
                animation-delay: 300ms * $i;
            }
        }
        &__title{
            font-size: $font-size-text;
            font-weight: 300;
            position: relative;
            margin-bottom: 20px;
            &::before{
                content: '';
                position: absolute;
                background-color: $tertiary-color;
                width: 45px;
                height: 2px;
                bottom: -5px;
            }
        }
        &__name{
            background-color: white;
            border-radius: 15px;
            padding: 15px;
            margin-bottom: 10px;
            position: relative;      
            overflow: hidden; 
            @media (min-width: 1024px){
                width: 100%;
                
            }
            &--margin{
                margin-bottom: 5px;
                @include crop;
            }
            &__description{
                display: flex;
                justify-content: space-between;
                transition: margin-right 0.3s;
                &--weight{
                    font-weight: 300;
                    font-size: 15px;
                    @include crop;
                    margin-right: 20px; 
                }
            }
            &:hover .menu__starter__check{
                right: 0;
            }
            &:hover .menu__starter__name__description{
                margin-right: 80px;
            }
            &:hover .menu__starter__name--margin{
                margin-right: 120px;
            }
        }
        &__check{
            @include text-center;
            background-color : $tertiary-color;
            border-top-right-radius : 15px;
            border-bottom-right-radius : 15px;
            width : 80px;
            height: 100%;
            position : absolute;
            top : 0;
            right : -80px;
            transition: right 0.3s;
            .fa-circle-check{
                font-size: 25px;
                color: white;
            }
        }
    }
    &__cta{
        @include cta;
        padding: 15px 35px; 
        margin: 0 auto;
        @include shadow;
        &:hover{
            opacity: 0.8;
            @include shadow-hover;
        } 
    }
}